.wrapper{
    width: 1300px;
    margin: 0 auto;
    box-sizing: content-box;
    border: 1px solid;
 }

//  @media screen and (max-width:885px){
//     .wrapper{
//       width: 768px;
//       text-align: center;
//     }
//  }
//  @media screen and (max-width:430px){
//     .wrapper{
//       width: 375px;
//       text-align: center;
//     }
//  }